.standardClass img , .pingPongAnime img {
  width: 250px;
  height: auto;
}

.standardClass body {
  background-color: #e6f7ff;
}

.standardClass h1 , .standardClass h4 , .standardClass h5 {
  color: #4775d1;
}

.pingPongAnime body {
  background-color: white;
  color: black;
}
